<div class="header">
    <div class="logo">
      <img src="./assets/Imagenes/toyota.png" alt="Logo de la empresa">
      
    </div>
    <div class="buttons">
        <!-- Sección de botones de navegación -->
        <button (click)="navigateTo('/description')">Inicio</button>
        <!-- Botón que llama a la función 'navigateTo' para ir a la página de inicio -->
        <button (click)="navigateTo('/customer')">Registro</button>
        <button (click)="navigateTo('/login')">Cerrar Sesión</button>
    </div>
  </div>
  
  <div class="welcome-section">
    <h2>Bienvenido a Toyota</h2>
    
    <div class="welcome-content">
      <img src="./assets/Imagenes/1.jpg" alt="Imagen Mediana">
      
    </div>
  </div>
  
  <div class="description">
    <h2>Descripción de la Empresa</h2>
    <p>
      La misión de Toyota es liderar la industria automotriz a nivel global mediante la innovación continua en la producción de vehículos de alta calidad, sostenibles y accesibles. La compañía se compromete a mejorar la movilidad para las personas y la sociedad, priorizando la seguridad, la eficiencia energética y la responsabilidad ambiental. Toyota busca satisfacer las necesidades de sus clientes, colaboradores y comunidades, al tiempo que impulsa la excelencia en la fabricación y la investigación en nuevas tecnologías para un futuro más sostenible y conectado.





    </p>
  </div>
  
  <div class="contact">
    <h2>Contacto</h2>
    <p>Correo electrónico: miercabrerayorbinafriel@gmail.com</p>
    <p>Teléfono: 68913948</p>
  </div>
  